* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculatorHeader {
  margin-bottom: 2rem;
}

#addHeader,
#subtractHeader,
#multiplyHeader {
  margin-bottom: 1rem;
}

#addSpan,
#subtractSpan,
#multiplySpan {
  margin-top: 2rem;
}

#addDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 500px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#subtractDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  width: 500px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

#multiplyDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: green;
  width: 500px;
  height: 200px;
  border-radius: 5px;
}
